body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.caja{
    padding: 50px 100px 50px 100px;
    border-radius: 10px;
    align-self: center;
    margin-top: 150px;
}

div{
    background-color: #023361;
    margin: 30px;
}

h1{
    color: white;
    text-align: center;
    margin: 40px;
}

.cdtxt{
    color: white;
    display: flex;
}

#papitas{
    background-color: #0085ff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-weight: 650;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
}

#limpiar{
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-weight: 650;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
}

#letras{
    height: 35px;
    width: 350px;
    border: 0;
    border-radius: 5px;
}

.resultado{
    font-weight: 650;
    background-color: white;
    display: flex;
}

.cantidad{
    width: 40px;
    font-size: 30px;
    margin: 10px;
    word-wrap: break-word;
    color: black;
    display: flex;
}

.respuesta{
    width: 40px;
    font-size: 30px;
    margin: 10px;
    word-wrap: break-word;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
}

a{
    display: flex;
    justify-content: end;
}